<%= form_with url: menus_path do |form| %>
  <% if menu.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(menu.errors.count, "error") %> prohibited this menu from being saved:</h2>

      <ul>
        <% menu.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form. :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.text_field :shop_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
