
<p>
  <strong>メニュー名:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>店名:</strong>
  <%= @menu.shop.name %>
</p>

<div class="photo-grid">
  <% @votes.each do |vote| %>
    <% if vote.image.attached? %> 
      <div class="photo">
        <%= image_tag vote.image, alt: 'Photo' %> 
        <p class="vote-info">
          投票日時: <%= vote.created_at.strftime('%Y-%m-%d') %><br>
          一言コメント: <%= vote.content %>
        </p>
      </div>
    <% end %>
  <% end %>
</div>

<%= link_to 'Back', @menu.shop %>
