
<p>
  <strong>メニュー名:</strong>
  <%= @menu.name %>
</p>

<p>
  <strong>店名:</strong>
  <%= @menu.shop.name %>
</p>

<div class="photo-grid">
  <% @votes.each do |vote| %>
    <div class="photo">
      <% if vote.image.attached? %> 
        <%= image_tag vote.image, alt: 'Photo', style: "width: 200px; height: 150px;" %> 
      <% end %>
      <p class="vote-info">
        ユーザー名: <%= vote.user.name %><br>
        投票日時: <%= vote.created_at.strftime('%Y-%m-%d') %><br>
        一言コメント: <%= vote.content %>
      </p>
    </div>
  <% end %>
</div>
<%= link_to 'Back', @menu.shop %>
