<%= form_with(model: shop) do |form| %>
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="content">
  <div id="map"></div>
  <style>
    #map {
      height: 300px;
      width: 300px;
    }
  </style>
  <script>
    var map;
    var marker;

    function initMap() {
      const defaultCenter = { lat: 35.6803997, lng:139.7690174 };
      const mapOptions = {
        zoom: 10,
        center: defaultCenter,
      };

      map = new google.maps.Map(document.getElementById("map"), mapOptions);

      map.addListener("click", function (e) {
        getClickLatLng(e.latLng, map);
      });

      const addressField = document.getElementById("address");
      const latHiddenField = document.getElementById("lat");
      const lngHiddenField = document.getElementById("lng");
      const service = new google.maps.places.PlacesService(map);

      addressField.addEventListener("change", (e) => {
        const address = e.target.value;
        const request = {
          query: address,
          fields: ["name", "geometry"],
        };
        service.findPlaceFromQuery(request, function (results, status) {
          if (status === google.maps.places.PlacesServiceStatus.OK) {
            for (let i = 0; i < results.length; i++) {
              const place = results[i];
              const lat = place.geometry.location.lat();
              const lng = place.geometry.location.lng();
              const latLng = { lat: lat, lng: lng };
              getClickLatLng(latLng, map);
              latHiddenField.value = lat;
              lngHiddenField.value = lng;
            }
          }
        });
      });
    }

    window.addEventListener("DOMContentLoaded", initMap);

    function getClickLatLng(latLng, map) {
      if (marker) {
        marker.setMap(null);
      }

    }
  

function getClickLatLng(latLng, map) {
  if (marker) {
    marker.setMap(null);
  }

  marker = new google.maps.Marker({
    position: latLng,
    map: map,
  });

  map.panTo(latLng);

  document.getElementById("lat").value = latLng.lat();
  document.getElementById("lng").value = latLng.lng();

  const geocoder = new google.maps.Geocoder();
  geocoder.geocode({ location: latLng, region: 'JP' }, function (results, status) {
    if (status === "OK") {
      if (results[0]) {
        const address_components = results[0].address_components;
        const long_name = address_components.map(component => component.long_name);
        document.getElementById("address").value = long_name.join(' ');
      } else {
        console.log("No results found");
      }
    } else {
      console.log("Geocoder failed due to: " + status);
    }
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&libraries=places&callback=initMap" async defer></script>
  

  <div class="field">
    <%= form.label :店名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :都道府県 %>
    <%= form.text_field :prefecture %>
  </div>

  <div class="field">
    <%= form.label :住所 %>
    <%= form.text_field :address %>
  </div>

  <div class="field" hidden>
    <%= form.label :latitude %>
    <%= form.text_field :latitude %>
  </div>

  <div class="field" hidden>
    <%= form.label :longitude %>
    <%= form.text_field :longitude %>
  </div>

  <div class="field">
    <%= form.label :カテゴリー %>
    <%= form.collection_select :category_id, Category.all, :id, :name, { prompt: '選択してください' }, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
