<%= form_with(model: shop) do |form| %>
  <% if shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
        <% shop.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
  <%= form_for @shop, url: { action: :create }, method: :post do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, placeholder: "店名を入力してください" %>
    <br>
    <%= f.label :都道府県 %>
    <%= f.select :prefecture, Shop.prefectures.keys, { prompt: '選択してください' } %>
    <br>
    <%= f.label :address %>
    <%= f.text_field :address, placeholder: "住所を入力してください" %>
    <br>
    <%= f.label :カテゴリー %>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: '選択してください' } %>
    <br>
    <%= f.submit "登録" %>
    <% end %>
  </div>
  <%= link_to 'ユーザー詳細画面', user_path(@user.id) %>
  

<% end %>  

  