<p id="notice"><%= notice %></p>

<h1>お店検索</h1>

<table>
  <thead>

    <tr>
      <th>店名</th>
      <th>都道府県</th>
      <th>住所</th>
      <th>カテゴリー</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
  
  <%= form_tag shops_path, method: :get do %>
    <%= select_tag :prefecture, options_for_select(Shop.pluck(:prefecture).uniq), prompt: '都道府県で絞る' %>
    <%= select_tag :category_id, options_for_select(@categories.pluck(:name, :id)), prompt: 'カテゴリーで絞る' %>
    <%= submit_tag '検索' %>
  <% end %>

  <%= link_to 'お店新規登録', new_shop_path, data: {"turbolinks" => false} %>
  <%= link_to 'ユーザー詳細画面', user_path(@user.id) %>
  
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.prefecture %></td>
        <td><%= shop.address %></td>
        <td><%= shop.category.name %></td>
        <td><%= link_to 'おすすメニューを見る', shop %></td>

      
      </tr>
    <% end %>
    
 <style>
    #map {
      height: 500px;
      width: 70%;
    }
  </style>

  <div id="map"></div>
  <script>
    var map;
    var markers = [];
    var infoWindows = [];
    var geocoder;
    
    // データベースから取得したマーカー情報（例：仮のデータ）
    var markerData = <%= raw @shops.to_json %>;

    function initMap() {
    geocoder = new google.maps.Geocoder();

    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 7,
      center: { lat: 35.4550426, lng: 139.6312741 }
    });

    displayMarkers();
  }

  function displayMarkers() {
      var bounds = new google.maps.LatLngBounds();

      markerData.forEach(shop => {
        var markerLatLng = { lat: shop.latitude, lng: shop.longitude };
        var marker = new google.maps.Marker({
          position: markerLatLng,
          map: map,
          title: shop.name
        });

        bounds.extend(marker.getPosition());
        markers.push(marker);

        var infoWindow = new google.maps.InfoWindow();
        var categories = '<% raw @categories.to_json %>';
        
        infoWindows.push(infoWindow);

        marker.addListener('click', function () {
          closeInfoWindows();
          infoWindow.setContent(
            `<div class='info-window-content'>
              <a href='/shops/${shop.id}' class='custom-link'>${shop.name}</a>
              <p>カテゴリー: ${categories}</p>
              <p>住所: ${shop.address}</p>
            </div>`
          );
          infoWindow.open(map, marker);
        });
      });

      map.fitBounds(bounds);
    }

    function closeInfoWindows() {
      infoWindows.forEach(infoWindow => {
        infoWindow.close();
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&libraries=places&callback=initMap" async defer></script> 
  </tbody>
</table>

<br>
