<p id="notice"><%= notice %></p>

<h1>お店検索</h1>

<table>
  <thead>

    <tr>
      <th>店名</th>
      <th>都道府県</th>
      <th>住所</th>
      <th>カテゴリー</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
  <%= form_with scope: :shop, url: root_path, method: :get, local: true do |f| %>
    <%= f.label :prefecture, "都道府県" %>
    <%= f.select :prefecture, Shop.prefectures.keys, { prompt: '選択してください', include_blank: true } %>
    <%= f.label :category_id, "カテゴリー" %>
    <%= f.collection_select :category_id, Category.all, :id, :name, { prompt: '選択してください', include_blank: true } %>
    <%= f.submit "検索", id: "codeAddress()" %>
  <% end %>
  <%= link_to 'お店新規登録', new_shop_path %>

    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.prefecture %></td>
        <td><%= shop.address %></td>
        <td><%= shop.category.name %></td>
        <td><%= link_to 'Show', shop %></td>
        <td><%= link_to 'Edit', edit_shop_path(shop) %></td>
        <td><%= link_to 'Destroy', shop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
      </tr>
    <% end %>
    
 <style>
    #map {
      height: 500px;
      width: 100%;
    }
  </style>

  <div id="map"></div>
  <script>
    var map;
    var markers = [];
    var infoWindows = [];
    var geocoder;

    // データベースから取得したマーカー情報（例：仮のデータ）
    var markerData = gon.shops;

    function initMap() {
      geocoder = new google.maps.Geocoder();

      map = new google.maps.Map(document.getElementById('map'), {
        zoom: 7,
        center: { lat: 35.4550426, lng: 139.6312741 }
      });

      displayMarkers();
    }

    function displayMarkers() {
      markerData.forEach(shop => {
        var markerLatLng = { lat: shop.latitude, lng: shop.longitude };
        var marker = new google.maps.Marker({
          position: markerLatLng,
          map: map,
          title: shop.name
        });

        markers.push(marker);

        var infoWindow = new google.maps.InfoWindow({
          content: `<a href='/shops/${shop.id}' class='custom-link'>${shop.name}</a>`
        });

        infoWindows.push(infoWindow);

        marker.addListener('click', function () {
          closeInfoWindows();
          infoWindow.open(map, marker);
        });
      });
    }


let aft
function codeAddress(){
  let inputAddress = document.getElementById('address').value;
  geocoder.geocode( { 'address': inputAddress}, function(results, status) {
    if (status == 'OK') {
        //マーカーが複数できないようにする
        if (aft == true){
            marker.setMap(null);
        }

        //新しくマーカーを作成する
        map.setCenter(results[0].geometry.location);
            marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location,
            draggable: true	// ドラッグ可能にする
        });

        //二度目以降か判断
        aft = true

        //検索した時に緯度経度を入力する
        document.getElementById('lat').value = results[0].geometry.location.lat();
        document.getElementById('lng').value = results[0].geometry.location.lng();

        // マーカーのドロップ（ドラッグ終了）時のイベント
        google.maps.event.addListener( marker, 'dragend', function(ev){
            // イベントの引数evの、プロパティ.latLngが緯度経度
            document.getElementById('lat').value = ev.latLng.lat();
            document.getElementById('lng').value = ev.latLng.lng();
        });
    } else {
      alert('該当する結果がありませんでした：' + status);
    }
  });   
}
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&libraries=places&callback=initMap" async defer></script> 
  </tbody>
</table>

<br>

<%= link_to 'お店新規登録', new_shop_path %>
