<p id="notice"><%= notice %></p>
<div class="show-shop-list">
  <p>
  <strong>店名:</strong>
  <%= @shop.name %>
  </p>

  <p>
  <strong>カテゴリー:</strong>
  <%= @shop.category.name %>
  </p>

  <p>
  <strong>都道府県:</strong>
  <%= @shop.prefecture %>
  </p>

  <p>
  <strong>住所:</strong>
  <%= @shop.address %>
  </p>
</div>

<div id="map" class="show-map" ></div>
<script>
  var shop = <%= raw @shop.to_json %>;
  function initMap() {
    var shopLocation = { lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %> };
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: shopLocation
    });

    var transitLayer = new google.maps.TransitLayer();
    transitLayer.setMap(map);

    var contentString = `<div><p>店名：<%= @shop.name %></p><p>住所：<%= @shop.address %></p></div>`;
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });

    var marker = new google.maps.Marker({
      position: shopLocation,
      map: map,
      title: '<%= @shop.name %>'
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });

    
  }
</script>
    <script async defer
                  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
    </script>
    <style type="text/css">
      #map { height: 400px;
            width: 90%;}
    </style>

    <div style="display: flex; justify-content: center;">
      <%= image_tag "jimomin.png", class: "ranking_logo" %>
    </div>
    

    <div id="show-container"></div>
    <script>
    var dataFromDatabase = gon.votes;
    // しきい値
    var threshold = 100;

    dataFromDatabase.sort((a, b) => b.count - a.count);
    // データベースから取得したデータをループ処理
    dataFromDatabase.forEach((variable, index) => {
      
      // しきい値からパーセンテージを計算
      variable.percentage = Math.round(variable.count / threshold * 100);

      // ランクに応じた画像を選択
      var rankImage = '';
      if (index === 0) {
        rankImage = '<img src="<%= asset_path('no1.png') %>" class="rank-image" alt="1st">';
      } else if (index === 1) {
        rankImage = '<img src="<%= asset_path('no2.png') %>" class="rank-image" alt="2nd">';
      } else if (index === 2) {
        rankImage = '<img src="<%= asset_path('no3.png') %>" class="rank-image" alt="3rd">';
      }

      // containerに追加
      document.querySelector('#show-container').insertAdjacentHTML('beforeend', `
    <div class="graf">
      <a href="/menus/${variable.id}" class="menu-link">
        ${rankImage}
        <span class="data-name">${variable.name}</span>
      </a>
    
      <div class="graf-bar-bg">
        <div class="graf-bar" id="${variable.name}"><span>${variable.count}</span></div>
      </div>
    </div>`);
      
      // widthを指定
      document.querySelector('#' + variable.name).style.width = variable.percentage + '%';
    });
    </script>

<% if user_signed_in? && @user_prefecture == @shop.prefecture %>
  <%= link_to "投票する", new_vote_path(shop_id: @shop.id), class: "btn-vote" %>
<% end %>
<% if  current_user&.admin? %>
  <%= link_to 'ショップ情報編集', edit_shop_path(@shop), class: 'edit-link', data: {"turbolinks" => false} %> 
<% end %>
<%= link_to '戻る', shops_path, class: 'back-link' ,data: {"turbolinks" => false} %>
