<p id="notice"><%= notice %></p>
<p>
  <strong>店名:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>都道府県:</strong>
  <%= @shop.prefecture %>
</p>

<p>
  <strong>住所:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>カテゴリー:</strong>
  <%= @shop.category.name %>
</p>

<div id="map"></div>
<script type="text/javascript">
var marker = gon.shop
      function initMap() {
        var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: test
                  });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @shop.address %>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                    });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer
                  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
    </script>
    <style type="text/css">
      #map { height: 400px;
            width: 80%;}
    </style>

    <div style="display: flex; justify-content: center;">
      <%= image_tag "jimomin.png", class: "ranking_logo" %>
    </div>
    

    <div id="container"></div>
    <script>
    var dataFromDatabase = gon.votes;
    // しきい値
    var threshold = 100;

    dataFromDatabase.sort((a, b) => b.count - a.count);
    // データベースから取得したデータをループ処理
    dataFromDatabase.forEach(variable => {
      
      // しきい値からパーセンテージを計算
      variable.percentage = Math.round(variable.count / threshold * 100);
      
      // containerに追加
      document.querySelector('#container').insertAdjacentHTML('beforeend', `
    <div class="graf">
      <a href="/menus/${variable.id}" class="menu-link">
        <span class="data-name">${variable.name}</span>
      </a>
    
          <div class="graf-bar-bg">
          <div class="graf-bar" id="${variable.name}"><span>${variable.count}</span></div>
          </div></div>`);
      
      // widthを指定
      document.querySelector('#' + variable.name).style.width = variable.percentage + '%';
    });
    </script>


<% if user_signed_in? && @user_prefecture == @shop.prefecture %>
  <%= link_to "投票する", new_vote_path(shop_id: @shop.id), class: "btn btn-primary" %>
<% end %>
<%= link_to 'ショップ情報編集', edit_shop_path(@shop), data: {"turbolinks" => false} %> |
<%= link_to 'topページ', shops_path, data: {"turbolinks" => false} %>
