<%= form_with(model: vote_photo) do |form| %>
  <% if vote_photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote_photo.errors.count, "error") %> prohibited this vote_photo from being saved:</h2>

      <ul>
        <% vote_photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_area :image %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :vote_id %>
    <%= form.text_field :vote_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
