<p id="notice"><%= notice %></p>

<h1>Vote Photos</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Content</th>
      <th>Vote</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vote_photos.each do |vote_photo| %>
      <tr>
        <td><%= vote_photo.image %></td>
        <td><%= vote_photo.content %></td>
        <td><%= vote_photo.vote_id %></td>
        <td><%= link_to 'Show', vote_photo %></td>
        <td><%= link_to 'Edit', edit_vote_photo_path(vote_photo) %></td>
        <td><%= link_to 'Destroy', vote_photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vote Photo', new_vote_photo_path %>
