<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @vote_photo.image %>
</p>

<p>
  <strong>Content:</strong>
  <%= @vote_photo.content %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @vote_photo.vote_id %>
</p>

<%= link_to 'Edit', edit_vote_photo_path(@vote_photo) %> |
<%= link_to 'Back', vote_photos_path %>
