
<h1><%= @user.name %>さんの投票履歴</h1>
<div class="user-show-container">
  <table>
    <thead class="custom-header">
      <head>
        <tr>  
          <th scope="col">投稿日</th>
          <th scope="col">店名</th>
          <th scope="col">メニュー名</th>
          <th scope="col">投稿写真</th>
          <th scope="col">コメント</th>
          <th scope="col"></th>
        </tr>
      </head>
    <tbody>
    
      <% @votes.each do |vote| %>
        <tr>
        <div>
            <td><%= vote.created_at.strftime('%Y-%m-%d') %></td>
            <td scope="col"><%= link_to vote.shop.name, shop_path(vote.shop)%></td>
            <td scope="col"><%= vote.menu.name %></td>
            <td scope="col"><% if vote.image.attached? %>
              <%= image_tag vote.image.variant(resize: "200"), style: "width: 120px; height: 80px;" %>
            <% else %>
              <%= image_tag "no_image.png", style: "width: 120px; height: 80px;" %><br>
            <% end %></td>
            <td><%= vote.content %></td>
            <td><%= link_to "削除", vote_path(vote.id), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "delete-button" %></td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div class="link-button">
  <%= link_to '戻る', shops_path, data: {"turbolinks" => false},class: 'back-link' %>
  <%= link_to 'プロフィール編集', edit_user_registration_path(current_user), class: 'edit-link'  %>
</div>


