<h1>Editing Vote</h1>
<p>
  <strong>Name:</strong>
  <%= @shop.name %>
</p>

<p>
  <strong>Prefecture:</strong>
  <%= @shop.prefecture %>
</p>

<p>
  <strong>Address:</strong>
  <%= @shop.address %>
</p>

<p>
  <strong>Category:</strong>
  <%= @shop.category.name %>
</p>



<%= link_to 'Show', shop %> |
<%= link_to 'Back', _path %>
