<h1 class="page-title">おすすめメニュー投票</h1>
<%= render 'form', vote: @vote %>
<div id="map"></div>
<script type="text/javascript">
var marker = gon.shop
      function initMap() {
        var test ={lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>};
        var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 15,
                  center: test
                  });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @shop.address %>';
        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });
        var marker = new google.maps.Marker({
                      position:test,
                      map: map,
                      title: contentString
                    });

        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
      
    </script>
    <script async defer
                  src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
    </script>
    <style type="text/css">
      #map { height: 400px;
            width: 100%;}
    </style>

<div id="container"></div>
<br>

<div id="menuSection">
  <div id="menuList">
    <%= form_with model: @vote, local: true do |form| %>
      <h3><%= form.label :【投票メニュー名】 %></h3><br>
      <div id="menu-item" >
        <div  class="menu-button">
        <% @menus.each do |menu| %>
          <label class="menu-label">
            <%= form.radio_button :menu_id, menu.id %>
            <%= menu.name %>
          </label>
        <% end %>
        </div>
      </div>
      <%= form.label :メニュー価格の価格など一言投稿 %>
      <%= form.text_field :content, placeholder: "10文字以内(例:税込500円など)", size: 26 %><br>
      <%= form.label :写真投稿 %>
      <div class="image-upload">
        <%= form.file_field :image, id: "image-input", onchange: "previewImage(this)" %><br>
        <div id="image-preview"></div>
      </div>
      <%= form.hidden_field :shop_id, :value => @shop.id %><br>
      <%= form.submit :"投 票" %>
    <% end %>
    <br>
    <%= link_to '戻る', shop_path(@shop), class: 'back-link', data: {"turbolinks" => false} %>
  </div>
  
<script>
function previewImage(input) {
  var preview = document.getElementById('image-preview');
  var file = input.files[0];
  var reader = new FileReader();

  reader.onload = function(e) {
    var img = new Image();
    img.src = e.target.result;

    img.onload = function() {
      var canvas = document.createElement('canvas');
      var maxWidth = 100; // 最大幅を設定
      var scale = maxWidth / img.width;
      var newWidth = maxWidth;
      var newHeight = img.height * scale;

      canvas.width = newWidth;
      canvas.height = newHeight;

      var ctx = canvas.getContext('2d');
      ctx.drawImage(img, 0, 0, newWidth, newHeight);

      var preview = document.getElementById('image-preview');
      preview.innerHTML = '<img src="' + canvas.toDataURL('image/jpeg') + '" alt="Image Preview" class="small-image-preview" />';
    };
  };

  if (file) {
    reader.readAsDataURL(file);
  } else {
    preview.innerHTML = '';
  }
}
</script>
<br>
<br>
  <div id="new-menu">
    <h3>【新しいメニューを登録】</h3><br>
    <%= form_with model: @menu, url: menus_path, local: true  do |form| %>
      <%= form.label :新規メニュー投稿 %>
      <%= form.text_field :name, placeholder: "例:マルゲリータ" %><br>
      <%= form.hidden_field :shop_id, :value => @shop.id %><br>
      <%= form.submit 'メニュー登録' %>
    <% end %>
  </div>
</div>

