<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  
  </head>

  <body>
  <div class="page-content">  
    <div id="header">
      <div class="logo">
        <a href="<%= shops_path %>" class="logo" data-turbolinks="false">
          <%= image_tag "jimoguru_logo.png", alt: "Jimoguruのロゴ" %>
        </a>
      </div>
      <div class="right-aligned-buttons">
        <% if  current_user&.admin? %>
          <%= link_to '管理者画面', '/admin', data: {"turbolinks" => false}, class:"header_button"  %>
          <%= link_to '投票履歴', user_path(current_user), class:"header_button" %>
        <% end %>
        <%= link_to 'TOP',root_path, data: {"turbolinks" => false}, class:"header_button" %>
        <%= link_to "お問い合わせ", new_contact_path, class:"header_button" %>
        <%= link_to " ログアウト ", destroy_user_session_path, method: :delete, class:"header_button"  %>
      </div>
    
    </div>
    
      <% if notice %>
        <p class="alert alert-notice"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-error"><%= alert %></p>
      <% end %>
      
      <%= yield %>
    </div>
    <footer>
      <div class="footer-text">
      © WEF2023
      </div>
    </footer>
    
  </body>
</html>
