<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
  <div id="header">
  <a href="<%= shops_path %>" class="logo">
    <%= image_tag "jimoguru_logo.png", alt: "Jimoguruのロゴ" %>
  </a>
  <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class="logout_button" %>
    <% else %>
  </div>
  <%= content_tag(:div, flash[:alert], class: "alert alert-danger") if flash[:alert] %>
    <% if user_signed_in? %>
      <%= link_to "お店検索", shops_path, data: {"turbolinks" => false} %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    
    <%= yield %>
  </body>
</html>
