<!DOCTYPE html>
<html>
  <head>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
  <div id="header">
    <div class="logo">
      <a href="<%= shops_path %>" class="logo" data-turbolinks="false">
        <%= image_tag "jimoguru_logo.png", alt: "Jimoguruのロゴ" %>
      </a>
    </div>
    <div class="right-aligned-buttons">
      <% if  current_user&.admin? %>
        <%= link_to '管理者画面', '/admin', data: {"turbolinks" => false}, class:"header_button"  %>
      <% end %>
      <%= link_to 'TOP',root_path, data: {"turbolinks" => false}, class:"header_button" %>
      <%= link_to "お問い合わせ", new_contact_path, class:"header_button" %>
      <%= link_to " ログアウト ", destroy_user_session_path, method: :delete, class:"header_button"  %>
    </div>
   
  </div>
  
    <% if notice %>
      <p class="alert alert-notice"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-error"><%= alert %></p>
    <% end %>
    
    <%= yield %>
    <footer>
    <div class="footer-text">
    © WEF2023
    </div>
    </footer>
  </body>
</html>
